### Sandbox

In [11]:
import numpy as np
import pandas as pd

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer

In [1]:
from sklearn.preprocessing import label_binarize

In [4]:
from sklearn import preprocessing
lb = preprocessing.LabelBinarizer()
lb.fit_transform(["sport","politics","art","science","science","sport","politics","poltics","poltics"])

array([[0, 0, 0, 0, 1],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1],
       [0, 1, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [0, 0, 1, 0, 0]])

In [25]:
testDocs = ["Hello! Welcome to my sandbox.",
            "This sandbox is a place for me to create tests.",
            "Hello World! My name is Bob Jones.",
            "This is the final line of the test documents."]

In [26]:
cv = CountVectorizer()
tfidf_vec = TfidfVectorizer()

In [27]:
cvTest = cv.fit_transform(testDocs)
cvTest.toarray()

array([[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0],
       [0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0],
       [1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
       [0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 2, 1, 0, 0, 0]])

In [28]:
pd.DataFrame(data = cvTest.toarray(), columns = cv.get_feature_names_out())

,bob,create,documents,final,for,hello,is,jones,line,me,...,of,place,sandbox,test,tests,the,this,to,welcome,world
0,0,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,1,1,0
1,0,1,0,0,1,0,1,0,0,1,...,0,1,1,0,1,0,1,1,0,0
2,1,0,0,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,1,1,0,0,1,0,1,0,...,1,0,0,1,0,2,1,0,0,0

In [29]:
tfidfTest = tfidf_vec.fit_transform(testDocs)
pd.DataFrame(data = tfidfTest.toarray(), columns = tfidf_vec.get_feature_names_out())

,bob,create,documents,final,for,hello,is,jones,line,me,...,of,place,sandbox,test,tests,the,this,to,welcome,world
0,0.000000,0.000000,0.00000,0.00000,0.000000,0.422247,0.000000,0.000000,0.00000,0.000000,...,0.00000,0.000000,0.422247,0.00000,0.000000,0.00000,0.000000,0.422247,0.535566,0.000000
1,0.000000,0.370824,0.00000,0.00000,0.370824,0.000000,0.236692,0.000000,0.00000,0.370824,...,0.00000,0.370824,0.292362,0.00000,0.370824,0.00000,0.292362,0.292362,0.000000,0.000000
2,0.420681,0.000000,0.00000,0.00000,0.000000,0.331670,0.268515,0.420681,0.00000,0.000000,...,0.00000,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.420681
3,0.000000,0.000000,0.31577,0.31577,0.000000,0.000000,0.201552,0.000000,0.31577,0.000000,...,0.31577,0.000000,0.000000,0.31577,0.000000,0.63154,0.248957,0.000000,0.000000,0.000000

In [24]:
from sklearn.pipeline import Pipeline
textPipe = Pipeline([('vect',CountVectorizer()),
                     ('tfidf',TfidfVectorizer())])